.gitignore
.DS_store
.Rhistory
*.aux
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.vrb
*.fdb_latexmk
*.fls
*.bbl
*.blg
JSM 2013/Talk/Data/
Datafest 2017 - Large Data/Datafest 2017 - Large Data.zip
Datafest 2017 - Large Data/data/
_minted*/
.Rproj.user
*_cache/
*/CLAUDE.md
*/.claude/
