@import url(https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,400i,500,500i,700,700i);
@import url(https://cdn.rawgit.com/tonsky/FiraCode/1.204/distr/fira_code.css);

body {
  font-family: 'Fira Sans','Droid Serif', 'Palatino Linotype', 'Book Antiqua', Palatino, 'Microsoft YaHei', 'Songti SC', serif;
  font-size: 32px;
}

.remark-code, .remark-inline-code {
  font-family: 'Fira Code', 'Lucida Console', Monaco, monospace;
  font-size: 80%;
}

.remark-slide-number {
  visibility: hidden;
}

a {
  text-decoration: none;
  font-weight: bold;
}

a:link {
  color: #041E42;
}

a:visited {
  color: #041E42;
}

a:hover {
  color: #041E42;
}

a:active {
  color: #041E42;
}

.title_bg {
  background-color: #041E42;
  color: #FFFFFF  ;
}

.title_bg a {
  color: #FFFFFF;
  font-weight: normal;
}

.title {
  text-align: center;
  font-size: 80px;
  padding-top: 1.5em;
}

.title p {
  margin-bottom: 20px;
}

.subtitle {
  text-align: center;
  font-style: italic;
  font-size: 28px;
}

.conference {
  font-size: 32px;
  text-align: left;
  padding-left: 1em;
  position: absolute; 
  bottom: 0;
  left: 0;
}

.conference .name p {
  margin-bottom: 0;
}

.conference .bitly {
  font-size: 20px;
}

.conference .bitly p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}



.author {
  font-size: 32px;
  text-align: right;
  padding-right: 1em;
  position: absolute;
  bottom: 0;
  right: 0;
}

.author .name p {
  margin-bottom: 0;
}

.author .school {
  font-size: 20px;
}

.author .school p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}


.footnote {
  position: absolute;
  bottom: 1em;
  padding-right: 1em;
  font-size: 80%;
}




.center {
  text-align: center;
}

.columns img {
  width: 100%;
}

.columns > div:first-of-type, .columns > pre:first-of-type  {
  float: left;
  width: 47%;
}

.columns > div:nth-of-type(2), .columns > pre:nth-of-type(2) {
  float: right;
  width: 47%;
}

.columns > pre:first-of-type  {
  float: left;
  width: 49%;
}

.columns > pre:nth-of-type(2) {
  float: right;
  width: 49%;
}


.columns {
  overflow: auto;
  /*padding-top: 1em;*/
  padding-bottom: 1em;
}

.columns::after {
  content: "";
  clear: both;
  display: table-column-group;
}

.center-column {
  display: table;
  width: auto;
  max-width: 66%;
  margin: 0 auto;
}
